@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Список товаров</h1>
    <p>Для просмотра <a href="/Products">нажмите сюда</a>.</p>
</div>

